{% extends "base.html" %}

{% block content %}
<h1>Login Page</h1>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>
      <br>
      <input type="submit">
      <br>
      <p class="error">{{error_message}}</p>
    </form>


<a href="/">Back to main</a>
{% endblock %}

